<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TodoMVC Status</title>
 
</head>
<body>
    {{{body}}}
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
</body>
</html>